.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
    background:#846733;  
    left: 50% !important; 

}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    color:#ffffff;
    background:#ff0000;  
}
.ui-datepicker table {
    width: 100%;
    font-size: .7em;
    border-collapse: collapse;
    font-family:verdana;
    margin: 0 0 .4em;
    color:#000000;
    background:#FDF8E4;    
}
.ui-datepicker td {

    border: 0;
    padding: 1px;

    
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .8em;
    text-align: right;
    text-decoration: none;
}

