<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

     <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
      body{
      background-image: url("http://food.fnr.sndimg.com/content/dam/images/food/fullset/2014/3/11/0/TU0703_Banana-Cream-Pudding_s4x3.jpg.rend.hgtvcom.616.462.suffix/1394587617072.jpeg");
      }
      .content{
      margin: 25px 50px 75px 50px;
      }
      .navbar{
      margin: 25px 50px 50px 25px;
      }
    </style>

    <title>Home</title>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
	<a class="navbar-brand" href="/home">MADE in China</a>
      </div>
      <ul class="nav navbar-nav">
	<li class="active"><a href="#">Home</a></li>
	<li><a href="/restaurants">Restaurants</a></li>
	<li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <div class="content">
    {%if userstatus == 0%}
    <p>You are an owner!</p>
    {%else%}
    <p>You are a customer!</p>
    {% endif %}
    <br><br>
    {%if userstatus == 0%}

    {%else%}
    <!-- MOVE -->
        <p><a href="/addrest"> Click here to create your rest! </p>
    {% endif %}
  </div>
</body>
</html>
