<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS ************************************************************-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="style.css">
    
    <!-- jQuery library ***************************************************************************-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript ************************************************************-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>
      .content{
      margin: 25px 50px 75px 50px;
      }
      .navbar{
      margin: 25px 50px 50px 25px;
      }
	/* SELECTABLE *****************************************************************************************/
	  #target{ overflow: auto; }
	    #feedback { font-size: 1.4em; }
	  
	  #selectable .ui-selectee {background: #0000ff; color: #7FFF00; }
	  #selectable .ui-selecting { background: #000000; color: #white; }
	  #selectable .ui-selected { background: #ff0000; color: white; }
	  #selectable { list-style-type: none; margin: 10; padding: 10; width: 900px; }
	  #selectable li { margin: 3px; padding: 1px; float: left; width: 100px; height: 80px; font-size: 4em; text-align: center; }
    </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<!-- SCRIPT ******************************************************************************************-->
  <script>
  var tableCount = 0;

  $( function() {

    $( "#selectable" ).selectable({

      stop: function() {
        $( ".ui-selected" ).selectable({
          disabled: true
        });
        $( ".ui-selected" ).selectable("option", "disabled", true);


        tableCount += 1;
  
         var len = 0;
         var result = $( "#select-result" ).empty();
         $( ".ui-selected", this ).each(function() {
           var index = $( "#selectable li" ).index( this );
           result.append( " #" + ( index + 1 ) );
           len += 1;
         });
  
         $( ".ui-selected" ).css("background-color", "red");
  
         $( ".ui-selected" ).html(tableCount);
   
         do{
 	    	var patronCount = prompt("How many people will sit at this table?", "");
 		}while(patronCount == null || patronCount == "" || isNaN(patronCount) || patronCount > 100 || patronCount < 1);
   
         var log = $("#select-log" );
         $( ".ui-selected", this ).each(function() {
           var index = $( "#selectable li" ).index( this );
           log.append( "Table " + tableCount +": " + patronCount  + " people" + "<br>");
           /* Adds the Hidden Form Element for Table Count*/
 	        var tablePeep  = document.createElement("input")
 	        tablePeep.setAttribute("type", "hidden");
 	        tablePeep.setAttribute("name", tableCount+"tablePeep");
 	        tablePeep.setAttribute("value", patronCount)
 	        log.append(tablePeep)
           return false; 
         });

      }
    });
  } );

  </script>
  <script>
    $(document).ready( function() {
      $(":enabled").css("border", "3px solid green");
        $( ".ui-selected" ).selectable({
          disabled: true
        });
        $( ".ui-selected" ).selectable("option", "disabled", true);
    });
  </script>
    
    <title> Register a Restaurant </title>
  </head>
  
  <!-- BODY *********************************************************************************************-->
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="/home">MADE in China</a>
	</div>
	<ul class="nav navbar-nav"
	  <li class="active"><a href="#">Home</a></li>
	  <li><a href="/restaurants">Restaurants</a></li>
	  <li><a href="/logout">Logout</a></li>
	</ul>
      </div>
    </nav>

    <div class="content">
    	<!-- FORM CHANGE TO POST ***********************************************************************-->
      <form method="POST" action="/newrest">
		Name: <input required type="text" name="restname"> <br><br>
		Zip Code: <input required type="text" onkeypress="return event.charCode>= 48 && event.charCode <= 57" name="zipcode" maxlength="5"> <br><br>
		Reservation Length: <select required name="reslen" id="reslen">
		  
			<option value="5"> 5 min </option>
			<option value="10"> 10 min</option>
			<option value="15"> 15 min</option>
			<option value="20"> 20 min</option>
			<option value="25"> 25 min</option>
			<option value="30"> 30 min</option>
			<option value="35"> 35 min</option>
			<option value="40"> 40 min</option>
			<option value="45"> 45 min</option>
			<option value="50"> 50 min</option>
			<option value="55"> 55 min</option>
			<option value="60"> 1 hour </option>
		</select>
		<br><br>
		Opening Hours:<br>
		Sunday
		<br>
		<select required name="sunstatus" id="sunstatus">
		  
			<option value="open"> Opened </option>
			<option value="close"> Closed </option>
		</select>
		<br>


		<div id="sunstatushour">
			<br>
			Opening
			<select required name="sun_opening_hours">
				<option value="0"> 00 </option>
				<option value="1"> 01 </option>
				<option value="2"> 02 </option>
				<option value="3"> 03 </option>
				<option value="4"> 04 </option>
				<option value="5"> 05 </option>
				<option value="6"> 06 </option>
				<option value="7"> 07 </option>
				<option value="8"> 08 </option>
				<option value="9"> 09 </option>
				<option value="10"> 10 </option>
				<option value="11"> 11 </option>
				<option value="12"> 12 </option>
				<option value="13"> 13 </option>
				<option value="14"> 14 </option>
				<option value="15"> 15 </option>
				<option value="16"> 16 </option>
				<option value="17"> 17 </option>
				<option value="18"> 18 </option>
				<option value="19"> 19 </option>
				<option value="20"> 20 </option>
				<option value="21"> 21 </option>
				<option value="22"> 22 </option>
				<option value="23"> 23 </option>
			</select>
			:
			<select required name="sun_opening_mins">
				<option value="00"> 00 </option>
				<option value="05"> 05 </option>
				<option value="10"> 10 </option>
				<option value="15"> 15 </option>
				<option value="20"> 20 </option><option value="25"> 25 </option>
				<option value="30"> 30 </option>
				<option value="35"> 35 </option>
				<option value="40"> 40 </option>
				<option value="45"> 45 </option>
				<option value="50"> 50 </option>
				<option value="55"> 55 </option>
			</select>
			<br>
			Closing
			<select required name="sun_closing_hours">
				<option value="0"> 00 </option>
				<option value="1"> 01 </option>
				<option value="2"> 02 </option>
				<option value="3"> 03 </option>
				<option value="4"> 04 </option>
				<option value="5"> 05 </option>
				<option value="6"> 06 </option>
				<option value="7"> 07 </option>
				<option value="8"> 08 </option>
				<option value="9"> 09 </option>
				<option value="10"> 10 </option>
				<option value="11"> 11 </option>
				<option value="12"> 12 </option>
				<option value="13"> 13 </option>
				<option value="14"> 14 </option>
				<option value="15"> 15 </option>
				<option value="16"> 16 </option>
				<option value="17"> 17 </option>
				<option value="18"> 18 </option>
				<option value="19"> 19 </option>
				<option value="20"> 20 </option>
				<option value="21"> 21 </option>
				<option value="22"> 22 </option>
				<option value="23"> 23 </option>
			</select>
			:
			<select required name="sun_closing_mins">
				<option value="00"> 00 </option>
				<option value="05"> 05 </option>
				<option value="10"> 10 </option>
				<option value="15"> 15 </option>
				<option value="20"> 20 </option><option value="25"> 25 </option>
				<option value="30"> 30 </option>
				<option value="35"> 35 </option>
				<option value="40"> 40 </option>
				<option value="45"> 45 </option>
				<option value="50"> 50 </option>
				<option value="55"> 55 </option>
			</select>	
		</div>	
		<br>
		Monday
				<br>
		<select required name="monstatus" id="monstatus">
			<option value="open"> Opened </option>
			<option value="close"> Closed </option>
		</select>
		<div id="monstatushour">
		<br>
		Opening
		<select required name="mon_opening_hours">
			<option value="00"> 00 </option>
			<option value="01"> 01 </option>
			<option value="02"> 02 </option>
			<option value="03"> 03 </option>
			<option value="04"> 04 </option>
			<option value="05"> 05 </option>
			<option value="06"> 06 </option>
			<option value="07"> 07 </option>
			<option value="08"> 08 </option>
			<option value="09"> 09 </option>
			<option value="10"> 10 </option>
			<option value="11"> 11 </option>
			<option value="12"> 12 </option>
			<option value="13"> 13 </option>
			<option value="14"> 14 </option>
			<option value="15"> 15 </option>
			<option value="16"> 16 </option>
			<option value="17"> 17 </option>
			<option value="18"> 18 </option>
			<option value="19"> 19 </option>
			<option value="20"> 20 </option>
			<option value="21"> 21 </option>
			<option value="22"> 22 </option>
			<option value="23"> 23 </option>
		</select>
		:
		<select required name="mon_opening_mins">
			<option value="00"> 00 </option>
			<option value="05"> 05 </option>
			<option value="10"> 10 </option>
			<option value="15"> 15 </option>
			<option value="20"> 20 </option><option value="25"> 25 </option>
			<option value="30"> 30 </option>
			<option value="35"> 35 </option>
			<option value="40"> 40 </option>
			<option value="45"> 45 </option>
			<option value="50"> 50 </option>
			<option value="55"> 55 </option>
		</select>
		<br>
		Closing
		<select required name="mon_closing_hours">
			<option value="00"> 00 </option>
			<option value="01"> 01 </option>
			<option value="02"> 02 </option>
			<option value="03"> 03 </option>
			<option value="04"> 04 </option>
			<option value="05"> 05 </option>
			<option value="06"> 06 </option>
			<option value="07"> 07 </option>
			<option value="08"> 08 </option>
			<option value="09"> 09 </option>
			<option value="10"> 10 </option>
			<option value="11"> 11 </option>
			<option value="12"> 12 </option>
			<option value="13"> 13 </option>
			<option value="14"> 14 </option>
			<option value="15"> 15 </option>
			<option value="16"> 16 </option>
			<option value="17"> 17 </option>
			<option value="18"> 18 </option>
			<option value="19"> 19 </option>
			<option value="20"> 20 </option>
			<option value="21"> 21 </option>
			<option value="22"> 22 </option>
			<option value="23"> 23 </option>
		</select>
		:
		<select required name="mon_closing_mins">
			<option value="00"> 00 </option>
			<option value="05"> 05 </option>
			<option value="10"> 10 </option>
			<option value="15"> 15 </option>
			<option value="20"> 20 </option><option value="25"> 25 </option>
			<option value="30"> 30 </option>
			<option value="35"> 35 </option>
			<option value="40"> 40 </option>
			<option value="45"> 45 </option>
			<option value="50"> 50 </option>
			<option value="55"> 55 </option>
		</select>	
		</div>	
		<br>

		Tuesday
			<br>
		<select required name="tuesstatus" id="tuesstatus">
			<option value="open"> Opened </option>
			<option value="close"> Closed </option>
		</select>
		<div id="tuesstatushour">
		<br>
		Opening
		<select required name="tues_opening_hours">
			<option value="00"> 00 </option>
			<option value="01"> 01 </option>
			<option value="02"> 02 </option>
			<option value="03"> 03 </option>
			<option value="04"> 04 </option>
			<option value="05"> 05 </option>
			<option value="06"> 06 </option>
			<option value="07"> 07 </option>
			<option value="08"> 08 </option>
			<option value="09"> 09 </option>
			<option value="10"> 10 </option>
			<option value="11"> 11 </option>
			<option value="12"> 12 </option>
			<option value="13"> 13 </option>
			<option value="14"> 14 </option>
			<option value="15"> 15 </option>
			<option value="16"> 16 </option>
			<option value="17"> 17 </option>
			<option value="18"> 18 </option>
			<option value="19"> 19 </option>
			<option value="20"> 20 </option>
			<option value="21"> 21 </option>
			<option value="22"> 22 </option>
			<option value="23"> 23 </option>
		</select>
		:
		<select required name="tues_opening_mins">
			<option value="00"> 00 </option>
			<option value="05"> 05 </option>
			<option value="10"> 10 </option>
			<option value="15"> 15 </option>
			<option value="20"> 20 </option><option value="25"> 25 </option>
			<option value="30"> 30 </option>
			<option value="35"> 35 </option>
			<option value="40"> 40 </option>
			<option value="45"> 45 </option>
			<option value="50"> 50 </option>
			<option value="55"> 55 </option>
		</select>
		<br>
		Closing
		<select required name="tues_closing_hours">
			<option value="00"> 00 </option>
			<option value="01"> 01 </option>
			<option value="02"> 02 </option>
			<option value="03"> 03 </option>
			<option value="04"> 04 </option>
			<option value="05"> 05 </option>
			<option value="06"> 06 </option>
			<option value="07"> 07 </option>
			<option value="08"> 08 </option>
			<option value="09"> 09 </option>
			<option value="10"> 10 </option>
			<option value="11"> 11 </option>
			<option value="12"> 12 </option>
			<option value="13"> 13 </option>
			<option value="14"> 14 </option>
			<option value="15"> 15 </option>
			<option value="16"> 16 </option>
			<option value="17"> 17 </option>
			<option value="18"> 18 </option>
			<option value="19"> 19 </option>
			<option value="20"> 20 </option>
			<option value="21"> 21 </option>
			<option value="22"> 22 </option>
			<option value="23"> 23 </option>
		</select>
		:
		<select required name="tues_closing_mins">
			<option value="00"> 00 </option>
			<option value="05"> 05 </option>
			<option value="10"> 10 </option>
			<option value="15"> 15 </option>
			<option value="20"> 20 </option><option value="25"> 25 </option>
			<option value="30"> 30 </option>
			<option value="35"> 35 </option>
			<option value="40"> 40 </option>
			<option value="45"> 45 </option>
			<option value="50"> 50 </option>
			<option value="55"> 55 </option>
		</select>		
	</div>
		<br>

		Wendesday
				<br>
		<select required name="wedstatus" id="wedstatus">
			<option value="open"> Opened </option>
			<option value="close"> Closed </option>
		</select>
		<div id="wedstatushour">
		<br>
		Opening
		<select required name="wed_opening_hours">
			<option value="00"> 00 </option>
			<option value="01"> 01 </option>
			<option value="02"> 02 </option>
			<option value="03"> 03 </option>
			<option value="04"> 04 </option>
			<option value="05"> 05 </option>
			<option value="06"> 06 </option>
			<option value="07"> 07 </option>
			<option value="08"> 08 </option>
			<option value="09"> 09 </option>
			<option value="10"> 10 </option>
			<option value="11"> 11 </option>
			<option value="12"> 12 </option>
			<option value="13"> 13 </option>
			<option value="14"> 14 </option>
			<option value="15"> 15 </option>
			<option value="16"> 16 </option>
			<option value="17"> 17 </option>
			<option value="18"> 18 </option>
			<option value="19"> 19 </option>
			<option value="20"> 20 </option>
			<option value="21"> 21 </option>
			<option value="22"> 22 </option>
			<option value="23"> 23 </option>
		</select>
		:
		<select required name="wed_opening_mins">
			<option value="00"> 00 </option>
			<option value="05"> 05 </option>
			<option value="10"> 10 </option>
			<option value="15"> 15 </option>
			<option value="20"> 20 </option><option value="25"> 25 </option>
			<option value="30"> 30 </option>
			<option value="35"> 35 </option>
			<option value="40"> 40 </option>
			<option value="45"> 45 </option>
			<option value="50"> 50 </option>
			<option value="55"> 55 </option>
		</select>
		<br>
		Closing
		<select required name="wed_closing_hours">
			<option value="00"> 00 </option>
			<option value="01"> 01 </option>
			<option value="02"> 02 </option>
			<option value="03"> 03 </option>
			<option value="04"> 04 </option>
			<option value="05"> 05 </option>
			<option value="06"> 06 </option>
			<option value="07"> 07 </option>
			<option value="08"> 08 </option>
			<option value="09"> 09 </option>
			<option value="10"> 10 </option>
			<option value="11"> 11 </option>
			<option value="12"> 12 </option>
			<option value="13"> 13 </option>
			<option value="14"> 14 </option>
			<option value="15"> 15 </option>
			<option value="16"> 16 </option>
			<option value="17"> 17 </option>
			<option value="18"> 18 </option>
			<option value="19"> 19 </option>
			<option value="20"> 20 </option>
			<option value="21"> 21 </option>
			<option value="22"> 22 </option>
			<option value="23"> 23 </option>
		</select>
		:
		<select required name="wed_closing_mins">
			<option value="00"> 00 </option>
			<option value="05"> 05 </option>
			<option value="10"> 10 </option>
			<option value="15"> 15 </option>
			<option value="20"> 20 </option><option value="25"> 25 </option>
			<option value="30"> 30 </option>
			<option value="35"> 35 </option>
			<option value="40"> 40 </option>
			<option value="45"> 45 </option>
			<option value="50"> 50 </option>
			<option value="55"> 55 </option>
		</select>	
		</div>	
		<br>
		<br>
		Thursday
				<br>
		<select required name="thurstatus" id="thurstatus">
			<option value="open"> Opened </option>
			<option value="close"> Closed </option>
		</select>
		<div id="thurstatushour">
		<br>
		Opening
		<select required name="thur_opening_hours">
			<option value="00"> 00 </option>
			<option value="01"> 01 </option>
			<option value="02"> 02 </option>
			<option value="03"> 03 </option>
			<option value="04"> 04 </option>
			<option value="05"> 05 </option>
			<option value="06"> 06 </option>
			<option value="07"> 07 </option>
			<option value="08"> 08 </option>
			<option value="09"> 09 </option>
			<option value="10"> 10 </option>
			<option value="11"> 11 </option>
			<option value="12"> 12 </option>
			<option value="13"> 13 </option>
			<option value="14"> 14 </option>
			<option value="15"> 15 </option>
			<option value="16"> 16 </option>
			<option value="17"> 17 </option>
			<option value="18"> 18 </option>
			<option value="19"> 19 </option>
			<option value="20"> 20 </option>
			<option value="21"> 21 </option>
			<option value="22"> 22 </option>
			<option value="23"> 23 </option>
		</select>
		:
		<select required name="thur_opening_mins">
			<option value="00"> 00 </option>
			<option value="05"> 05 </option>
			<option value="10"> 10 </option>
			<option value="15"> 15 </option>
			<option value="20"> 20 </option><option value="25"> 25 </option>
			<option value="30"> 30 </option>
			<option value="35"> 35 </option>
			<option value="40"> 40 </option>
			<option value="45"> 45 </option>
			<option value="50"> 50 </option>
			<option value="55"> 55 </option>
		</select>
		<br>
		Closing
		<select required name="thur_closing_hours">
			<option value="00"> 00 </option>
			<option value="01"> 01 </option>
			<option value="02"> 02 </option>
			<option value="03"> 03 </option>
			<option value="04"> 04 </option>
			<option value="05"> 05 </option>
			<option value="06"> 06 </option>
			<option value="07"> 07 </option>
			<option value="08"> 08 </option>
			<option value="09"> 09 </option>
			<option value="10"> 10 </option>
			<option value="11"> 11 </option>
			<option value="12"> 12 </option>
			<option value="13"> 13 </option>
			<option value="14"> 14 </option>
			<option value="15"> 15 </option>
			<option value="16"> 16 </option>
			<option value="17"> 17 </option>
			<option value="18"> 18 </option>
			<option value="19"> 19 </option>
			<option value="20"> 20 </option>
			<option value="21"> 21 </option>
			<option value="22"> 22 </option>
			<option value="23"> 23 </option>
		</select>
		:
		<select required name="thur_closing_mins">
			<option value="00"> 00 </option>
			<option value="05"> 05 </option>
			<option value="10"> 10 </option>
			<option value="15"> 15 </option>
			<option value="20"> 20 </option><option value="25"> 25 </option>
			<option value="30"> 30 </option>
			<option value="35"> 35 </option>
			<option value="40"> 40 </option>
			<option value="45"> 45 </option>
			<option value="50"> 50 </option>
			<option value="55"> 55 </option>
		</select>	
		</div>	
		<br>

		Friday
				<br>
		<select required name="fristatus" id="fristatus">
			<option value="open"> Opened </option>
			<option value="close"> Closed </option>
		</select>
		<div id="fristatushour">
		<br>
		Opening
		<select required name="fri_opening_hours">
			<option value="00"> 00 </option>
			<option value="01"> 01 </option>
			<option value="02"> 02 </option>
			<option value="03"> 03 </option>
			<option value="04"> 04 </option>
			<option value="05"> 05 </option>
			<option value="06"> 06 </option>
			<option value="07"> 07 </option>
			<option value="08"> 08 </option>
			<option value="09"> 09 </option>
			<option value="10"> 10 </option>
			<option value="11"> 11 </option>
			<option value="12"> 12 </option>
			<option value="13"> 13 </option>
			<option value="14"> 14 </option>
			<option value="15"> 15 </option>
			<option value="16"> 16 </option>
			<option value="17"> 17 </option>
			<option value="18"> 18 </option>
			<option value="19"> 19 </option>
			<option value="20"> 20 </option>
			<option value="21"> 21 </option>
			<option value="22"> 22 </option>
			<option value="23"> 23 </option>
		</select>
		:
		<select required name="fri_opening_mins">
			<option value="00"> 00 </option>
			<option value="05"> 05 </option>
			<option value="10"> 10 </option>
			<option value="15"> 15 </option>
			<option value="20"> 20 </option><option value="25"> 25 </option>
			<option value="30"> 30 </option>
			<option value="35"> 35 </option>
			<option value="40"> 40 </option>
			<option value="45"> 45 </option>
			<option value="50"> 50 </option>
			<option value="55"> 55 </option>
		</select>
		<br>
		Closing
		<select required name="fri_closing_hours">
			<option value="00"> 00 </option>
			<option value="01"> 01 </option>
			<option value="02"> 02 </option>
			<option value="03"> 03 </option>
			<option value="04"> 04 </option>
			<option value="05"> 05 </option>
			<option value="06"> 06 </option>
			<option value="07"> 07 </option>
			<option value="08"> 08 </option>
			<option value="09"> 09 </option>
			<option value="10"> 10 </option>
			<option value="11"> 11 </option>
			<option value="12"> 12 </option>
			<option value="13"> 13 </option>
			<option value="14"> 14 </option>
			<option value="15"> 15 </option>
			<option value="16"> 16 </option>
			<option value="17"> 17 </option>
			<option value="18"> 18 </option>
			<option value="19"> 19 </option>
			<option value="20"> 20 </option>
			<option value="21"> 21 </option>
			<option value="22"> 22 </option>
			<option value="23"> 23 </option>
		</select>
		:
		<select required name="fri_closing_mins">
			<option value="00"> 00 </option>
			<option value="05"> 05 </option>
			<option value="10"> 10 </option>
			<option value="15"> 15 </option>
			<option value="20"> 20 </option><option value="25"> 25 </option>
			<option value="30"> 30 </option>
			<option value="35"> 35 </option>
			<option value="40"> 40 </option>
			<option value="45"> 45 </option>
			<option value="50"> 50 </option>
			<option value="55"> 55 </option>
		</select>	
		</div>	
		<br>

		Saturday
				<br>
		<select required name="satstatus" id="satstatus">
			<option value="open"> Opened </option>
			<option value="close"> Closed </option>
		</select>
		<div id="satstatushour">
		<br>
		Opening
		<select required name="sat_opening_hours">
			<option value="00"> 00 </option>
			<option value="01"> 01 </option>
			<option value="02"> 02 </option>
			<option value="03"> 03 </option>
			<option value="04"> 04 </option>
			<option value="05"> 05 </option>
			<option value="06"> 06 </option>
			<option value="07"> 07 </option>
			<option value="08"> 08 </option>
			<option value="09"> 09 </option>
			<option value="10"> 10 </option>
			<option value="11"> 11 </option>
			<option value="12"> 12 </option>
			<option value="13"> 13 </option>
			<option value="14"> 14 </option>
			<option value="15"> 15 </option>
			<option value="16"> 16 </option>
			<option value="17"> 17 </option>
			<option value="18"> 18 </option>
			<option value="19"> 19 </option>
			<option value="20"> 20 </option>
			<option value="21"> 21 </option>
			<option value="22"> 22 </option>
			<option value="23"> 23 </option>
		</select>
		:
		<select required name="sat_opening_mins">
			<option value="00"> 00 </option>
			<option value="05"> 05 </option>
			<option value="10"> 10 </option>
			<option value="15"> 15 </option>
			<option value="20"> 20 </option><option value="25"> 25 </option>
			<option value="30"> 30 </option>
			<option value="35"> 35 </option>
			<option value="40"> 40 </option>
			<option value="45"> 45 </option>
			<option value="50"> 50 </option>
			<option value="55"> 55 </option>
		</select>
		<br>
		Closing
		<select required name="sat_closing_hours">
			<option value="00"> 00 </option>
			<option value="01"> 01 </option>
			<option value="02"> 02 </option>
			<option value="03"> 03 </option>
			<option value="04"> 04 </option>
			<option value="05"> 05 </option>
			<option value="06"> 06 </option>
			<option value="07"> 07 </option>
			<option value="08"> 08 </option>
			<option value="09"> 09 </option>
			<option value="10"> 10 </option>
			<option value="11"> 11 </option>
			<option value="12"> 12 </option>
			<option value="13"> 13 </option>
			<option value="14"> 14 </option>
			<option value="15"> 15 </option>
			<option value="16"> 16 </option>
			<option value="17"> 17 </option>
			<option value="18"> 18 </option>
			<option value="19"> 19 </option>
			<option value="20"> 20 </option>
			<option value="21"> 21 </option>
			<option value="22"> 22 </option>
			<option value="23"> 23 </option>
		</select>
		:
		<select required name="sat_closing_mins">
			<option value="00"> 00 </option>
			<option value="05"> 05 </option>
			<option value="10"> 10 </option>
			<option value="15"> 15 </option>
			<option value="20"> 20 </option><option value="25"> 25 </option>
			<option value="30"> 30 </option>
			<option value="35"> 35 </option>
			<option value="40"> 40 </option>
			<option value="45"> 45 </option>
			<option value="50"> 50 </option>
			<option value="55"> 55 </option>
		</select>	
		</div>	
		<br>

<!--SELECTABLE  ******************************************************************************************-->
<p id="feedback">
  <span>You've selected:</span> <span id="select-result">none</span>.
</p>

<br>
<div id="target">

<ol id="selectable">
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  <li class="ui-widget-content"></li>
  
</ol>

</div>

 <button type = "button" id="anew">Start Anew</button>

<button type = "button" id="add">Add a Square</button>
 - <button type = "button" id="remove">Remove a Square</button>

 <p id="log">
   <span>Your moves so far:</span><br><span id="select-log"></span>
 </p>

 <button type = "button" id="finalize"> Finalize </button>

  

 <!-- SUBMIT -**************************************************************************************-->
<input required type="submit" name="submit">
      </form>
      
    </div>
    	<script src="../static/newdisplay.js"></script>
       <script type="text/javascript" src="../static/registerrest.js"></script>
  </body>

</html>
