<!DOCTYPE html>
<html>


<head>
<title> Booking </title>
<link rel="stylesheet" type="text/css" href="../static/reserve.css">

<script src="https://code.jquery.com/jquery-1.9.1.js" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

  <script>
$(document).ready(function(){
  var $datePicker = $("div#datepicker");

  var $datePicker = $("div");


  $datePicker.datepicker({
    beforeShowDay: function(date) {
      var day = date.getDay();
      return [(day != 0 && day != 6)];
    },
    changeMonth: true,
    maxDate: "+2m",
    minDate: "+0d",
    changeYear: false,
    inline: true,
    altField: "#actualDate",
    onSelect: function(dateText, inst) {
      var date = $(this).datepicker('getDate'),
        day = date.getDate(),
        month = date.getMonth() + 1;

      console.log(month + "/" + day);
      window.location.replace("/hi");
    }
  })

});

  </script>

</head>

<body>
<h1> Restaurant Name : {{nameofRest}} </h1>


    <div id="datepicker" style="position: absolute;top: 59px; left: 577.172px; display: block; z-index: 4; width: 51em;">

</div>



</body>

</html>